 <li id="post-<%= post._id %>"  >

 <br>
          <h5 style="background-color:#a0dcff; padding:10px">
               <% if ((locals.user) && (post.user.id ==locals.user.id)) { %>
               <small>
                 <a class="delete-post button" href ="/posts/delete/<%= post.id %>"> <i class="fas fa-trash"></i> </a>
               </small>
               <% } %>
            
            
               <%= post.content %>

               <br>

                <small>

                   <%= post.user.name %>

                </small>

                 <br>
                   <!-- study about the data attribute -->
                   <small>
                     <%  if (locals.user) {  %>
                         <a class="toggle-like-button" data-likes = "<%= post.likes.length %>"  href= "/likes/toggle/?id=<%=post._id%>&type=Post">
                       <%= post.likes.length %> Likes
                     </a>
                     <% }else{ %>
                <%= post.likes.length %> Likes
                     <% } %>
                   </small>
                 
                 
           </h5>
                  <div class="post-comments">
                
                
                <% if (locals.user){ %>
                  
                  
                <form action="/comments/create" method ="POST">
                  <input type="text" name ="content" placeholder="Add a Comment...">
                  <input type="submit" value="Submit">
                  <input type ="hidden" name="post" value="<%= post._id%>">
                </form>
                <% }%>
                    
                    
                    
                  <div class="post-comments-list" style="background-color:#ffa0a0; padding:20px">
                    <h8><strong>COMMENTS</strong></h8>
                    <ul class="post-comments-<%= post._id%>">
                    
                      <% for(comment of post.comments){ %>
                        <%- include('_comments') _%>
                        
                       <% } %>
                         
                    </ul>
                    
                  </div>  
                
              </div>

           

 </li>